.container {
    width: 1226px;
    margin-left: auto;
    margin-right: auto;
}
.header-logo a:before,.header-logo a:after {
    content: ' ';
    display: inline-block;
    width: 55px;
    height: 55px;
    background-size: contain;
}